<h1><span style="color:mediumvioletred;font-weight:bold">Ваш email: </span><%=current_user.email%> <span class="btn btn-outline-primary" ><%=link_to "Добавить задачу", new_post_path%></span></h1>


<h2><span style="color:darkgreen;font-weight:bold">Все ваши задачи:</span></h2>
<%@page.each do |f| %>
  <% if f.user.email == current_user.email %>
  <div class = "alert alert-light">
    <h2><span style="color:blue;font-weight:bold"> <%=f.title %></span></h2>
    <h3>Условие:<%=f.body %></h3>
    <%= link_to "Подробнее",post_path(f),:class =>'btn btn-info' %>
  </div>




<% end %>
<% end %>